.container {
    position: relative;
    background: #0B2434;
    width: 360px;
    padding: 25px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Karla;
}

.main-section {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    margin: 10px;
    padding: 33.3px 34.5px 33.9px 34.5px;
}


button {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* confirmation screen */
.confirmation--screen {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
    background-color: #3F51B5;
    color: white;
    padding: 10px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    z-index: 2;
}

.confirmation--message {
    text-align: center;
    padding: 0 5px;
}

.confirmation--button {
    background-color: #46d17d;
    color: white;
    cursor: pointer;
    width: 92px;
    height: 36px;
    border: none;
    border-radius: 4px;
    transition: all 300ms;
}

.confirmation--button:hover {
    background-color: #17e76a;
}

