.social--media--links {
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style-type: none;
    background-color: black;
}

.social--media--links > li {
   list-style-type: none;
}

.social--media--links > li > a {
    font-size: 40px;
}

